<ul>
    {{! Put your external links here }}
    <li><a href="https://isnerd.wordpress.com/">Old blog</a></li>
    <li><a href="https://thewire.in/about-us/">My Employer</a></li>
    <li><a href="https://isnerd.wordpress.com/work/">Bylines</a></li>
</ul>
