<ul class="social">
    {{! Put your social media links here }}
    <li><a href="https://twitter.com/1amnerd"><i class="fa fa-lg fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/vasudevanmukunth/"><i class="fa fa-lg fa-linkedin"></i></a></li>
</ul>
